/* Entire Page*/ 
html {
    width: auto;
    margin: 0;
    padding: none;
    background-color: #FBF7F5 ;
}

/* Fonts*/ 
@font-face {
    font-family: heart_warming;
    src: url(../Fonts/heart_warming/Heart\ Warming\ Font\ by\ Situjuh\ \(7NTypes\).otf);
}
@font-face {
    font-family: mithella;
    src: url(../Fonts/mithella/Mithella-Regular.otf);
}
@font-face {
    font-family: Mulish;
    src: url(../Fonts/Mulish/Mulish-VariableFont_wght.ttf);
}
p { font-family: mithella, sans-serif;}
h1 { font-family: heart_warming, sans-serif; 
    color: #424C55; }
h2 { font-family: heart_warming, sans-serif;
    color: #424C55; }
h3 {font-family: mithella, sans-serif;}

/* Navigation*/ 
.topnav {
    background-color: #E59FBB;
    margin: 0px;
    padding: 20px; 
    height: 100px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navIcons {
    display: flex;
    width: 30%; 
    justify-content: space-between;
    height: auto;
}

.Home {
    position: static; 
    transform: scale(70%); 
}

.Work {
    position: static;
    transform: scale(70%);
}

.About {
    position: static;
    transform: scale(70%);
}

.Contact {
    position: static;
    transform: scale(70%);

}

.Linkedin {
    float:right;
    align-items: baseline;
    position: static;
    transform: scale(70%);
}

.navText {
    font-family: Mulish, sans-serif; 
    color: white;
    font-size: 20px;
    justify-content: space-between;
    display: flex; 
    width: 30%;
    flex-direction: row; 
    max-height: 1px; 
    position: absolute;
    text-align: left;
    margin-top: 15px;
    padding: 3px;
}

#homeTxt {
    position: static; 
    overflow: hidden;
}

#workTxt {
    position: static; 
    overflow: hidden;
}

#aboutTxt {
    position: static; 
    overflow:hidden; 
}

#contactTxt {
    position: static; 
    overflow:hidden;
}

/* Hero Image & Resume Button*/ 

.hero {
    background-color: #FBF7F5; 
}

.AboutMe {
    text-align: center;
    padding: 5px; 
    font-size: 28px; 
    margin: 10px; 
}

.heroIMG {
    display: flex;
    width: 100%;
    transform:scale(90%);
}

.buttonContainer {
    text-align: center;
    padding: 10px; 
}

.Resume {
    background-color: #B74F6F;
    border-radius: 13px;
    border: none;
    color: white; 
    padding: 5px; 
    height: 60px; 
    width: 180px;
    font-family: mithella, sans-serif;
    margin-top: 15px;
    margin-bottom: 15px;

}

.buttonContainer {
    display: flex;
    justify-content: center;
}


a {
    color: white; 
    text-decoration: none;
    font-size: 20px; 
}

a:hover {
    color: white; 
    font-size: 25px;
}

.Resume:hover {
    background-color:#E59FBB;

}


/* About Me Text */ 

.aboutContainer {
    background-color: #FBF7F5; 
    text-align: center;
    padding: 5px; 
    font-size: 28px; 
    padding-bottom: 30px;

}

.aboutText {
    text-align: center; 
    background-color: white; 
    padding: 80px;  
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    width: 40%;
    display: inline-block;
    align-items: center;
}
/*Footer*/

.footer {
    background-color:#E59FBB; 
    padding: 50px;
    color: white;
    text-align: center;
    height: 180px;
    width: auto;
    flex-direction: row;

}
.footerIcons {
    display: flex; 
    justify-content: space-evenly;
    margin: 30px;
}

@media only screen and (max-width: 600px) {
    nav {
        width: 100%;
    }
    .navIcons {
        display: flex;
        justify-content: space-between;
        width: 100%;
        transform:scale(.75);
    }

    .Linkedin {
        width: 30%;
        display: baseline;
        transform:scale(.75);
    }
  
    .hero {
        width: 100%;
    }

    .AboutMe {
        font-size: 20px;
    }
    
    .heroIMG {
        transform:scale(0.35);
        width: 0;
        height: 100%;
    }

    .aboutContainer {
        font-size: 20px;
    }

    .aboutText {
        font-size: 18px; 
    }

    .footer {
        width: 80%;
        margin-top: 20px;
        font-size: 16px;
    }

    .footerIcons {
        width: 100%;
    }

    .linky{
        position: static;
        transform: scale(70%);
    }

    .contactInfo {
        position: static;
        transform: scale(70%);
    }

    .Behance {
        position: static;
        transform: scale(70%);
    }
}