 html {
     width: auto;
     margin: none;
     padding: none; 
 }
 
 /*Fonts*/
 h2 { 
     text-align: center; 
     color: #424C55; 
    font-size: 50px;
    font-family: heart_warming, sans-serif;}
 h3 {text-align: center;
    font-family: mithella, sans-serif; }
 h4 {
    color: #2c3d4d;
    font-family: heart_warming, sans-serif;
    font-size: 30px ;}
p {
    font-family: mithella, sans-serif;
}
@font-face {
    font-family: heart_warming ;
    src: url(../Fonts/heart_warming/Heart\ Warming\ Font\ by\ Situjuh\ \(7NTypes\).otf);
}
@font-face {
    font-family: mithella;
    src: url(../Fonts/mithella/Mithella-Regular.otf);
}
@font-face {
    font-family: Mulish;
    src: url(../Fonts/Mulish/Mulish-Italic-VariableFont_wght.ttf);
}


 
 /* Navigation header */
.topnav {
    background-color: #E59FBB;
    margin: 0px;
    padding: 20px; 
    height: 100px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navIcons {
    display: flex;
    width: 30%; 
    justify-content: space-between;
}


.Linkedin {
    float:right;
    align-items: baseline;
}




/* Hero Img */ 
.heroImg {
    background-color: #F9F1F1;
    background-image: url(../Images/hero-grouped.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 650px;
    width: auto;
    margin: 0; 
 
}

/* Skills Section */
.MainSkills {
    background-color: #FFFAFE;
    padding: 50px;
}

.skillsIMG {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;

}

.SkillsText {
    width: 30%; 
}

.skillsText {
    text-align: center;
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    color: black; 
    font-family: mithella, sans-serif;
    font-size: 20px;
    list-style: none;
}



.learnMore {
background-color: #B74F6F;
    border-radius: 20px;
    border: none;
    color: white; 
    padding: 5px; 
    height: 60px; 
    width: 180px;
    font-family: Mulish, sans-serif;
    font-size: 18px; 

}

.buttonContainer {
    display: flex;
    justify-content: center;
}

/* Featured Work Section */ 
.Featured {
    background-color: #F9F1F1;
    padding: 20px; 
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
}

.FeaturedWork {
    display: inline-block; 
    max-width: 100%;
    padding: 50px;
    margin: 5px; 

}



.WorkImg {
    width: 50%;
    height: auto; 
    float: left; 
    border-radius: 20px;
    margin: 30px;
}

.WorkText {
    font-size: 30px;
    text-align: left;
    width: 30%; 
    display: inline-block;
    margin: 50px;
}

.AboutMe {
    text-align: center;
    padding: 5px; 
    font-size: 40px; 
}

.heroIMG {
    display: flex;
}

.buttonContainer {
    text-align: center;
    padding: 50px; 
    padding-bottom: 10px;
}

.Resume {
    background-color: #B74F6F;
    color: white; 
    border-radius: 15px;
    border: none;
    padding: 5px; 
    height: 60px; 
    width: 180px;
    font-family: Mulish, sans-serif;
    font-size: 18px; 

}

a {
    color: white; 
    text-decoration: none;
}

a:hover {
    color: black; 
}


/* About Me Text */ 

.aboutContainer {
    background-color: #FBF7F5; 
    text-align: center;
    padding: 5px; 
    font-size: 50px; 
    padding-bottom: 80px;

}

.aboutText {
    text-align: center; 
    background-color: white; 
    padding: 80px;  
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
    width: 60%;
    display: inline-block;
    align-items: center;
}


/*footer*/
.footer {
    background-color:#E59FBB; 
    padding: 50px;
    color: white;
    text-align: center;
    height: 180px;
    width: auto;
    flex-direction: row;

}
.footerIcons {
    display: flex; 
    justify-content: space-evenly;
}