/* Entire Page*/ 
html {
    width: auto;
    margin: 0;
    padding: 0;
    background-color: #FBF7F5 ; }

/* Fonts*/ 
@font-face {
    font-family: heart_warming;
    src: url(../Fonts/heart_warming/Heart\ Warming\ Font\ by\ Situjuh\ \(7NTypes\).otf);
}
@font-face {
    font-family: mithella;
    src: url(../Fonts/mithella/Mithella-Regular.otf);
}
@font-face {
    font-family: Mulish;
    src: url(../Fonts/Mulish/Mulish-VariableFont_wght.ttf);
}
p { font-family: mithella, sans-serif;}
h1 { font-family: heart_warming, sans-serif; 
    color: #424C55; }
h2 { font-family: heart_warming, sans-serif;
    color: #424C55; }
h3 {font-family: mithella, sans-serif;}

/* Navigation*/ 
.topnav {
    background-color: #E59FBB;
    margin: 0px;
    padding: 20px; 
    height: 100px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navIcons {
    display: flex;
    width: 30%; 
    justify-content: space-between;
    height: auto;
}


.Linkedin {
    float:right;
    align-items: baseline;
}

.navText {
    font-family: Mulish, sans-serif; 
    color: white;
    font-size: 20px;
    justify-content: space-between;
    display: flex; 
    width: 30%;
    flex-direction: row; 
    max-height: 1px; 
    position: absolute;
    text-align: left;
    margin-top: 15px;
    padding: 3px;
}

#homeTxt {
    position: static;
    overflow:hidden; 
}

#workTxt {
    position: static;
    overflow:hidden; 
}

#aboutTxt {
    position: static; 
    overflow:hidden; 
}

#contactTxt {
    position: static; 
    overflow:hidden; 
}



/* Hero Image & Search Bar*/ 
.heroWork {
    margin: 70px;
}

/* Case Studies*/ 


#caseStudies {
    margin: 50px;
    display: grid;
    height: auto;
    width: auto; 
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    row-gap: 20px;
    column-gap: 20px;

}



#TrackGov {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#NIH {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}

#LoneWolf {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}

#WIP {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


/*Footer*/

.footer {
    background-color:#E59FBB; 
    padding: 50px;
    color: white;
    text-align: center;
    height: 180px;
    width: auto;
    flex-direction: row;

}
.footerIcons {
    display: flex; 
    justify-content: space-evenly;
}

/* media screen on 18.2 activity */ 

@media only screen and (max-width: 600px) {
    nav {
        width: 100%;
    }
    .navIcons {
        display: flex;
        justify-content: space-between;
        width: 100%;
        transform:scale(.75);
    }

    .Linkedin {
        width: 30%;
        display: baseline;
        transform:scale(.75);
    }
    .heroWork  {
        margin:0;
       }
       .heroWorkIMG img {
           width:100%;
           margin: 0%; 
           margin-bottom: 20px;
       }
    
       #caseStudies {
           width: 100%;
           margin: 0; 
           row-gap: 10px;
           column-gap: 10px;
       }

    
       #NIH {
        width:95%;
    }
    
    #TrackGov {
        width: 95%;
    }

    
    #LoneWolf {
        width:95%;
    }

    #WIP {
        width:95%;
    }

    .footer {
        width: 80%;
        margin-top: 20px;
        font-size: 16px;
    }

    .footerIcons {
        width: 100%;
    }

    .linky{
        transform: scale(.75);
    }

    .contactInfo {
        transform:scale(.75);
    }

    .Medium {
        transform:scale(.75);
    }

}